<! -- 添加捐赠图标 -->
<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <a id="btn_donate" class="btn_donate" href="javascript:;" title="打赏"></a>
        <span class="donate_txt">
           &uarr;<br>
		   <%=theme.donate_message%>
        </span>
        <br>
      </div>  
	<div id="donate_guide" class="donate_bar center hidden" >
		<div>
			<span class="donate-title">支付宝</span>
			<span class="donate-title">微信</span>
		</div>
		<div>
			<!-- 支付宝打赏图案 -->
			<img src="/css/images/alipay.png"  alt="支付宝打赏"> 
			<!-- 微信打赏图案 -->
			<img src="/css/images/wechatpay.png" alt="微信打赏">  
		</div>
    </div>
	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_board').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
	</script>
</div>
<! -- 添加捐赠图标 -->