
	<% if(post.type== 1 || !post.type) {%>
		<div class="article-type">
		    <span class="label label-success" style="float: left;padding: 3px 5px 3px 5px;margin-right: 15px;margin-top: 2px;">原创</span>
		</div>
	<% } %>
		

